.table{
    
        width:80%;
        margin-left: 10%; 
        
        text-align: center;
    
}
.emptys{
    font-size: 50px;
}

.empty{
    width:100%;
    height: 30%;
    font-weight: 600;
    color:gray;
    background: rgb(24, 24, 24);
    border-radius: 1rem;
}

.div{
    padding-left: 300px;
}

.empty:hover{
    text-decoration:transparent;
    
    color:black;
    
    
}

.pay{
    width:30%;
    height: 30%;
    font-weight: 600;
    color:gray;
    background: rgb(24, 24, 24);
    border-radius: 1rem;
}

.pay:hover{
    text-decoration:transparent;
    
    color:black;
    
}

.buttons{
    margin-left: 40%;
}

@media (max-width: 900px){
    .table{
        width: 70%;
        margin-left:10%;
    }
    }
  
    @media (max-width: 750px){
        .table{
            width: 70%;
            margin-left:7%;
        }
        }

        @media (max-width: 680px){

            
            .table{
                width: 50%;
                margin-left:2%;

            }
            .div{
                margin-left: -5px;
                padding-left: 50px;
            }
            
            .pay{
                width:60%;
                height: 30%;
                font-weight: 600;
                color:gray;
                background: rgb(24, 24, 24);
                border-radius: 1rem;
            }
            }

            @media (max-width: 580px){
                .div{
                    padding-left: 110px;
                }
                .emptys{
                    font-size: 30px;
                }
                .empty{
                    margin-left: 0px;
                    font-size: 20px;
                }
                .table{
                    width: 30%;
                    margin-left:2%;
                }
                .longtable{
                    font-size:10px;
                }
                }
                @media (max-width: 480px){
                    .div{
                        padding-left: 70px;
                    }
                    .emptys{
                        font-size: 10px;
                    }
                    .empty{
                        margin-left: -10px;
                        font-size: 10px;
                    }
                    .table{
                        width: 30%;
                        margin-left:1%;
                    }
                    .longtable{
                        font-size:10px;
                    }
                    }
                    @media (max-width: 430px){
                        .table{
                            width: 30%;
                            margin-left:1%;
                        }
                        .longtable{
                            font-size:8px;
                            padding: 0;
                        }
                        }
                        @media (max-width: 400px){
                            .table{
                                width: 30%;
                                margin-left:1%;
                            }
                            .longtable{
                                font-size:6px;
                                padding: 0;
                            }
                            }