.table1{
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left: 10%;
    
    width:80%;
    background-color: honeydew;
    height:auto;
    padding-top: 10%;
    padding-bottom: 10%;
}


@media (max-width: 740px){
    
    }
